extends layout

block content
  #front-main(ng-controller="mainCtrl")
    h1 Are they a Republican or Democrat?
    p Test your wits and see if you can pick them out!
    a(href="/test")
        button(class="btn-success convert") Take the test
