extends layout

block content
  #front-main(ng-controller="mainCtrl")
    h1 Senator Identification Test
    p can you tell the difference between a democrat and a republican? Take the test to see who you can Identify!
    a(href="/test")
        button Take the test
