extends layout

block content
  script.
    window.twttr = (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0],
    t = window.twttr || {};
    if (d.getElementById(id)) return t;
    js = d.createElement(s);
    js.id = id;
    js.src = "https://platform.twitter.com/widgets.js";
    fjs.parentNode.insertBefore(js, fjs);
    t._e = [];
    t.ready = function(f) {
    t._e.push(f);
    };
    return t;
    }(document, "script", "twitter-wjs"));

  #front-main(ng-controller="resultsCtrl")
    h1(id="results") Here are your results!

    br
    br
    h2 We are going to be doing some insightful research on all of the response data. If you'd like to be informed about what we find out, sign up.
    br

    // Begin MailChimp Signup Form
    link(href='//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css', rel='stylesheet', type='text/css')
    style(type='text/css').
      #mc_embed_signup{clear:left; font:14px Helvetica,Arial,sans-serif; width:100%;}
      /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
      We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
    #mc_embed_signup
      form#mc-embedded-subscribe-form.validate(action='//github.us13.list-manage.com/subscribe/post?u=b879a9d38d9059900a90933cb&id=ef91d5df1f', method='post', name='mc-embedded-subscribe-form', target='_blank', novalidate='')
        #mc_embed_signup_scroll
          label(for='mce-EMAIL')
          input#mce-EMAIL.email(type='email', value='', name='EMAIL', placeholder='email address', required='')
          // real people should not fill this in and expect good things - do not remove this or risk form bot signups
          div(style='position: absolute; left: -5000px;', aria-hidden='true')
            input(type='text', name='b_b879a9d38d9059900a90933cb_ef91d5df1f', tabindex='-1', value='')
          .clear
            input#mc-embedded-subscribe.button(type='submit', value='Subscribe', name='subscribe')
    a.twitter-share-button(href='https://twitter.com/intent/tweet?text=Hello%20world', data-size='large')
  | Tweet
