extends layout

block content
    div(ng-controller="mainCtrl")
        button(class="left"  ng-click="advance('Democrat')") Democrat
        #front-test
            p {{senatorInfo[currentIndex].name}}
            p {{senatorInfo[currentIndex].state}}
            img(width="300px" ng-src="/images/{{senatorInfo[currentIndex].name}}.jpg")
        button(class="right" ng-click="advance('Republican')") Republican