body {
  font-family: 'Slabo 27px', serif;
  background-image:url(/images/americanflag.jpg);
  background-color:#eee;


}

a {
  color: #00B7FF;
}

text {
  font-family: 'Slabo 27px', serif;
}
.adsbygoogle {
    text-align: center;
}

#front-main-results {
    padding: 30px 0 0 0;
    max-width: 800px;
    margin-top:70px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    height:500px;
    background-color:#eee;

}
#front-main {
    padding: 30px 0 0 0;
    max-width: 800px;
    margin-top:170px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    height:500px;
    background-color:#eee;

}


#front-main-results h2 {
    margin-left:auto;
    margin-right:auto;
    text-align: center;
    padding: 0 5px 5px 0;
}
#front-main p {
    font-size:20px;
    width:300px;
    margin-left:auto;
    margin-right:auto;
    text-align: center
}

button {
    border-radius: 5px;
    outline:none;
    border:none;
}


.convert {
    width:200px;
    height:100px;
    font-size: 30px
}


#front-test {
    font-size:1.8em;
    margin-top:100px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.test div {
    text-align: center;
    font-size: 1.5em;
}

.name {
    font-size:1.3em;
    color:black;
    background-color:#eee;
    border:2px solid black;
}
.test {
    padding: 20px 0 20px 0;
    /*background-color: #eee;*/
    margin-top:125px;
    max-width:1300px;
    margin-left:auto;
    margin-right:auto;
}

.adb {
    margin-top:150px;
    width:160px;
    padding-top:20px;
    padding-bottom:20px;
}

.left {
    /*color:white;*/

    margin-left:40%;
    background-color:#eee;
    border:3px solid #111;

}

.left:hover {
    border:3px solid blue;
}

.right {
    margin-right:40%;
    background-color:#eee;
    border:3px solid #111;
}

.right:hover {
    border:3px solid red;
}


#Done {
    visibility: hidden;
    margin-top:30px;
    width:160px;
    padding-top:20px;
    padding-bottom:20px;
    display: block;
    margin-left:auto;
    margin-right:auto;
    background-color:#eee;
    border:3px solid #111;
}


#indicator {
    position:relative;
    color:green;
    left:90px;
    top:-300px;
    visibility: hidden;
    font-size:2em;
}

#rightindicator {
    position:relative;
    color:green;
    top:-300px;
    visibility: hidden;
    font-size:2em;
    left:-80px;

}

#submit {
  background-color: #08c;
  border-radius:1px;
  border-color:white;
  width:100px;
  font-size:23px;
  height:50px;
}


#emailInput {
  width:250px;
  font-size:1.6em;
  text-align: center;
  height:40px
}

/*#rightindicator {
    position:relative;
    color:green;
    top:100px;
    visibility: hidden;
    font-size:2em;
    left:-200px;
}*/


@media only screen and (max-width: 991px) {
    .left {
        margin:auto;
        margin-top:30px;
    }
    .right {
        margin:auto;
        margin-top:50px;
    }
}



.animateit {
    -webkit-animation: moving 1s;
    animation: moving 1s;
    visibility: visible !important
}

.animateit-right {
    -webkit-animation: moving-right 1s;
    animation: moving-right 1s;
    visibility: visible !important
}

@-webkit-keyframes moving {
    from {top: -150px;}
    to {top: -350px;}
}

@keyframes moving {
    from {top: -150px;}
    to {top: -350px;}
}


@-webkit-keyframes moving-right {
     from {top: -150px;}
    to {top: -350px;}
}

@keyframes moving-right {
     from {top: -150px;}
    to {top: -350px;}
}
