body {
  font-family: 'Slabo 27px', serif;
  background-image:url(/images/americanflag.jpg);

}

a {
  color: #00B7FF;
}


#front-main {
    max-width: 800px;
    margin-top:170px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

}

button {
    border-radius: 5px;
    outline:none;
    border:none;
}



#front-test {
    font-size:1.8em;
    margin-top:100px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.test div {
    text-align: center;
    font-size: 1.5em;
}

.name {
    font-size:1.3em;
    background-color:purple;
    color:black;
}
.test {
    margin-top:125px;
}

.adb {
    margin-top:150px;
    width:160px;
    padding-top:20px;
    padding-bottom:20px;
}

.left {
    color:white;
    float:right;
    margin-left:200px;
    background-color:blue;

}

.right {
    float:left;
    background-color:red;
}



#indicator {
    position: absolute;
    color:green;
    left:300px;
    visibility: hidden;
    font-size:2em;
}

.animateit {
    -webkit-animation: moving 1s;
    animation: moving 1s;
    visibility: visible !important

}

@-webkit-keyframes moving {
    from {top: 100px;}
    to {top: 500px;}
}

@keyframes moving {
    from {top: 120px;}
    to {top: 0px;}
}